<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Films Selection</title>
  </head>
  <body style="background-color:#d5e1df">
    <p style="margin-bottom:2cm"/>
    <h3 style="text-align:center;margin-top:10px">Request a Film</h3>
    <form action="/films-request-output.html" style="width:300px;height:50px;margin:0 auto;background:#FFFFFF" method="get" class="form-control">
        <div style="white-space: nowrap"><label>
	<span class="myarrow">
        <span>Film:</span>
	<input list="films" name="film" placeholder="Enter film"/>
          <datalist id="films">
              {{#films}}
              <option value="{{key}}">
              {{/films}}
          </datalist></span>
        </label>
        </div>
    </form>

    <p style="margin-bottom:2cm"/>

  </body>
</html>
