<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Films Output</title>
  </head>
  <body>
    <div style="margin-left:275px;margin-right:auto;display:inline-block;box-shadow: 10px 10px 5px #888888;border:1px solid #000000;-moz-border-radius-bottomleft:9px;-webkit-border-bottom-left-radius:9px;border-bottom-left-radius:9px;-moz-border-radius-bottomright:9px;-webkit-border-bottom-right-radius:9px;border-bottom-right-radius:9px;-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;border-top-right-radius:9px;-moz-border-radius-topleft:9px;-webkit-border-top-left-radius:9px;border-top-left-radius:9px;background:white">
      &nbsp;Box Office Opening Weekend for {{filmname}}&nbsp;</div>
    <p style="bottom-margin:10px">
      <table class="CSS_Table_Example" style="width:60%;margin:auto;">
	<tr><th>Rank</th><td>Title</td><td>Lifetime Gross</td><td>Lifetime Gross Rank</td><td>Runtime (Minutes)</td><td>Average IMDb Rating</td><td>Year</td><td>Genres</td><td>Change from Last Week</td></tr>
        {{#filmInfo}}
	<tr><td><b>{{rank}}</b></td><td>{{title}}</td><td>{{lifetime_gross}}</td><td>{{lifetime_rank}}</td><td>{{runtime_min}}</td><td>{{avg_rating}}</td>
	  <td>{{startyear}}</td><td>{{genres}}</td><td>{{change_lastweek}}</td></tr>
        {{/filmInfo}}
    </table>
    </p>
</body></html>
